@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* FUNCTION */

.bg(@images;@top : 0px; @left: 0px; @repeat: no-repeat;){
	background: url('images/@{images}') @top @left @repeat;
}
.bg-c(@color: transparent){background-color: @color}
.bg-w(){.bg-c(#fefefe);}
.bg-b(){.bg-c(#222);}
.bg-n(){background: none;}

.b-a(@color; @type: solid; @width: 1px;){ border: @width @type @color;}
.b-r(@color; @type: solid; @width: 1px;){ border-right: @width @type @color;}
.b-l(@color; @type: solid; @width: 1px;){ border-left: @width @type @color;}
.b-t(@color; @type: solid; @width: 1px;){ border-top: @width @type @color;}
.b-b(@color; @type: solid; @width: 1px;){ border-bottom: @width @type @color;}
.b-a-n(){border: none}
.b-r-n(){border-right: none}
.b-l-n(){border-left: none}
.b-t-n(){border-top: none}
.b-b-n(){border-bottom: none}
.b-radius(@radius: 4;@px: px){-webkit-border-radius: ~"@{radius}@{px}";
-moz-border-radius: ~"@{radius}@{px}";
border-radius: ~"@{radius}@{px}";}

.f-s(@var: 0;@px: px){font-size: ~"@{var}@{px}";}
.f-s-14(){.f-s(14)}
.f-s-16(){.f-s(16)}
.f-s-18(){.f-s(18)}
.f-s-20(){.f-s(20)}
.f-s-24(){.f-s(24)}
.c(@color){color: @color}
.c-w(){.c(#fefefe);}
.c-bl(){.c(#222);}
.ct(@content: ""){content: @content;}
.ct-fa(@content: ""){.ct(@content); font-family: 'FA';}
.f-w-l(){font-weight: 300}
.f-w-n(){font-weight: 400}
.f-w-m(){font-weight: 500}
.f-w-b(){font-weight: 700}
.f-w-e(){font-weight: 800}
.f-w-h(){font-weight: 900}
.l-h(@var: 0;@px: px){line-height: ~"@{var}@{px}"}
.t-t-u(){text-transform: uppercase}
.t-a-l(){text-align: left}
.t-a-r(){text-align: right}
.t-a-c(){text-align: center}
.t-d-n(){text-decoration: none;}
.t-d-u(){text-decoration: underline;}

.w(@var: 0;@px: px){width: ~"@{var}@{px}"}
.mx-w(@var: 0;@px: px){max-width: ~"@{var}@{px}"}
.mi-w(@var: 0;@px: px){min-width: ~"@{var}@{px}"}
.h(@var: 0;@px: px){height: ~"@{var}@{px}"}
.mx-h(@var: 0;@px: px){max-height: ~"@{var}@{px}"}
.mi-h(@var: 0;@px: px){min-height: ~"@{var}@{px}"}
.w-100(){width: 100%}
.w-50(){width: 50%}
.w-33(){width: 33.33%}
.h-100(){height: 100%}

.p-ab(){position: absolute}
.p-fx(){position: fixed}
.p-re(){position: relative}
.p-in(){position: initial;}
.t(@var: 0;@px: px){top: ~"@{var}@{px}"}
.l(@var: 0;@px: px){left: ~"@{var}@{px}"}
.r(@var: 0;@px: px){right: ~"@{var}@{px}"}
.b(@var: 0;@px: px){bottom: ~"@{var}@{px}"}

.d-b(){display:block}
.d-n(){display: none}
.d-i(){display: inline}
.d-i-b(){display:inline-block}

.f-l(){float: left;}
.f-n(){float: none}
.f-r(){float: right}

.m(@margin: 0){margin: @margin;}
.m-r(@margin: 0; @px:px;){margin-right: ~"@{margin}@{px}";}
.m-l(@margin: 0; @px:px;){margin-left: ~"@{margin}@{px}";}
.m-t(@margin: 0; @px:px;){margin-top: ~"@{margin}@{px}";}
.m-b(@margin: 0; @px:px;){margin-bottom: ~"@{margin}@{px}";}
.m-c(@margin-top: 0px; @margin-bottom: 0px){display: block; margin: @margin-top auto @margin-bottom; float: none;}

.p(@padding: 0px){padding: @padding}
.p-r(@padding: 0;@px: px){padding-right:  ~"@{padding}@{px}"}
.p-l(@padding: 0;@px: px){padding-left:  ~"@{padding}@{px}"}
.p-t(@padding: 0;@px: px){padding-top:  ~"@{padding}@{px}"}
.p-b(@padding: 0;@px: px){padding-bottom:  ~"@{padding}@{px}"}

.z1(){z-index: 10}
.z2(){z-index: 20}
.z3(){z-index: 30}
.z4(){z-index: 40}
.z5(){z-index: 50}
.z6(){z-index: 60}
.z7(){z-index: 70}
.z8(){z-index: 80}
.z9(){z-index: 99}
.z99(){z-index: 9999}

.cu-p(){cursor: pointer;}

.res-w(@width;@px: px){width: 100%; max-width: ~"@{width}@{px}";;}
.opacity(@opacity: 0){
	@opacityie : @opacity * 100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityie})";
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	opacity: @opacity;
}
.ani(@time: .4;@s: s;@trans: ease; @select: all){transition: ~"@{select} @{time}@{s} @{trans}";-moz-transition: ~"@{select} @{time}@{s} @{trans}";-o-transition: ~"@{select} @{time}@{s} @{trans}";-ms-transition: ~"@{select} @{time}@{s} @{trans}";-webkit-transition: ~"@{select} @{time}@{s} @{trans}"}

/* END FUNCTION */

.c-56(){.c(#565656)}
@blue: #32c6f4;

.f_1{font-family: 'Roboto', sans-serif;}
.f_2{font-family: 'Roboto Slab', serif;}

body { .f_1; .f-s(18); .l-h(30); .bg-w; .c-56; }
#wrapper{overflow:hidden; .w-100; .p-re;}
.container{ .mx-w(1030); }
h1, .h1, h2, .h2, h3, .h3,h4,h5{.f-w-b}

/* Header */
header{	.p-fx; .t; .l; .w-100; .h(76); .bg-w; .z99;
	.logo{ .m-t(5); .f-l; }
}

/* Nav */
.navbar-toggle{ .b-a(#32c6f4); .p-ab; .r; .t(20); .m-t; .z99; .bg-c(#7bc564);
	.icon-bar{.bg-c(#fff)}
	&:hover{ .bg-c(#32c6f4);
		.icon-bar{.bg-w;}
	}
}

/* Slider */
#slider{ .p-re; .m-t(76); .mi-h(508);
	&:before{ .ct; .p-ab; .t; .l; .z1; .w-100; .h(373); .bg-c(#e9e9e9); }
	.container{ .p-re; .z2;}
	.back{
		&:before{ .ct; .p-ab; .t; .z1; .l(-1000); .w(1217); .h(508); .bg-c(@blue); }
		&:after{ .ct;  .p-ab; .t; .z2; .b-t(@blue,solid,508px); .b-r(transparent,solid,1125px); .w(1125); .h(508); .l(217); }
	}
	.content{ .p-re; .z4; .l-h(24); .res-w(365);
		h1{ .c-bl; .f-s(72); .p-t(12); .m-b(12); }
		h3{ .c(#fff); .f_2; .m-t; .p-b(34); }
		p{ .c(#fff); .p-b(11); }
		strong{ .c-bl; }
		span{ .c-bl; }
		i{ .f-s-14; }
	}
	.flexslider{ .t(81); .l(384); .z3; }
}

/* Product Info */
#product-info{ .p-t(49);
	.left{ .res-w(577); .m-t(26);
		iframe{ .mx-w(100,'%') }
	}
	.right{ .w(365); .m-b(70);
		h1{ .c-bl; .p-b(17) }
		strong{ .c(@blue); }
	}
}

/* The Team */
#the-team{ .bg-c(#7bc564); .p-t(33); .p-b(7);
	h1{ .c(#fff); }
	.cols{ .m(0 -6px); .f-s; .t-a-c; .p-b(69);
		li{ .d-i-b; .w(156); .h(275); .p-re; .p-t(105); .m(100px 6px 30px); .bg-c(#fff);
			.avatar{ .b-a(#fff,solid,3px); .res-w(156); .b-radius(100,'%'); overflow: hidden; .t(-73); .l; .p-ab; }
			h4{ .c-bl; }
			p{ .f-s-14; .c(#888); .l-h(18); }
		}
	}
}

/* Our Mission */
#our-mission{ .p-t(73); .p-b(218);
	.content{ .p-l(380); .p-re; .p-t(92);
		.avatar{ .b-radius(100,'%'); .t(74); .l; .p-ab; }
		h1{ .c-bl; }
		strong{ .c(@blue); }
	}
}

/* News */
#news{ .bg-c(#d5d6d6); .p-t(70); .p-b(90);
	h1{ .c-bl; .p-b(36); }
	h4{.m-b;}
	p{ .l-h(24); .f-s-14; }
	i.date{ .f-s-14; .c(#979797); .d-b; .m-b(31); }
}

/* Footer */
footer{ .l-h(24); .c(#fff); .bg-c(#36b4cd); .p-t(52); .p-b(25);
	a{ .c(#fff); &:hover{ .c-bl; .t-d-n; } }
	.row{ .p-re;
		.col-md-4{ .p-in;
			.social{ .f-s;
				li{ .d-i-b; .m(0 17px);
					a{ .d-b; .h(36); }
					.fb{ .bg('icon-fb.png'); .w(16); &:hover{.bg('icon-fb-hover.png');} }
					.tw{ .bg('icon-tw.png'); .w(32); &:hover{.bg('icon-tw-hover.png');} }
					.yt{ .bg('icon-yt.png'); .w(42); &:hover{.bg('icon-yt-hover.png');} }
					.in{ .bg('icon-in.png'); .w(36); &:hover{.bg('icon-in-hover.png');} }
				}
			}
		}
	}
	h2{ .p-re; .d-i-b; .p-b(15);
		&:before{ .ct; .w(64); .h(59); .bg('arrow.png'); .p-ab; .r(-74); .t(-10); }
	}
	.first:before{ .b-l(#62c4d8); .b-r(#4ebdd3); .ct; .w(2); .h-100; .l(33.33,'%'); .t; .p-ab; }
	.second:before{  .b-l(#4ebdd3); .b-r(#62c4d8); .ct; .h-100; .l(66.66,'%'); .t; .p-ab; .w(2); }
	.first{ .p-t(7); }
	.third{ .p-l(100); }
	.copyright{.p-t(60);}
}

@media (max-width: 1199px){
	#product-info{
		.left{ .w(550);	}
	}
}

@media (max-width: 991px){
	#product-info{
		.left{ .w(390);	}
		.right{ .w(310); }
	}
	#news{
		ul li{ .p-b(20); .m-b(20); .b-b(#222); }
	}
	footer{ 
		.first:before{ .d-n; }
		.second:before{ .d-n; }
		.first{ .b-b(#62c4d8); .p(10px 15px); }
		.third,.second{ .b-b(#62c4d8); .b-t(#4ebdd3); .p(10px 15px); }
		.second{ .t-a-l;  }
		.copyright{ .b-t(#4ebdd3); .p(10px 15px); }
		.menu li{ .d-i-b; .m-r(25); }
	}
}

@media (max-width: 768px){
	.navbar-toggle{.d-b;}
	.navbar{.p-ab; .t; .r; .m; .h; .w-100; .mi-h; .p; .b-a-n;}
	.navbar-main{ .t; .r(-70,'%'); .p-ab; .w(70,'%'); .bg-c(#222); .z99;
	   &.active{ .r; }
	   #navbar{ .p;
	        ul li{ .d-b; .m;
	            a{ .c-w; .f-s(14); .t-a-l; .d-b; .m; .p(8px 15px);
	                &:hover{.c(#38A19E);.bg-c(#3B3B3B); }
	                }
	            }
	        .menu{
	            >li{
	                a:before{ .ct-fa; .f-s(16); .d-i-b; .w(25); }
	                &:nth-child(1) > a:before{.ct('\f0b1');}
	                &:nth-child(2) > a:before{.ct('\f0c0');}
	                &:nth-child(3) > a:before{.ct('\f135');}
	                &:nth-child(4) > a:before{.ct('\f044');}
	                &:nth-child(5) > a:before{.ct('\f0e0');}
	                }
	            }
	        }
	   .close-btn{ .t-a-c; .c(#38A19E); .f-s(16); .cu-p; .p(8px 0); .bg-c(#323232); .l-h(18) }
	}
	#slider{ .bg-c(@blue); .p-b(30);
		.flexslider{ .p-re; .t; .l; .w-100; .res-w(720); .m-c; .m-t(50); } 
		.back:before{ .l(-100); }
	}
	#product-info{
		.left{ .w-100; .m-c;	}
		.right{ .w-100; }
	}
	#our-mission{ 
		.content{ .p-l; 
			.avatar{ .p-re; .t; .l; .m-c }
		}
	}
}
@media (max-width: 400px){
	footer{ 
		.menu{
			li{ .d-b; }
		}
	}
}
@media (max-width: 315px){
	footer{ 
		.row .col-md-4 .social{
			li{ .d-b; .m-b(20); }
		}
	}
}
@media (max-width: 268px){
	#slider .content h1{ .f-s(25vw); }
}
@media (min-width: 769px){
	.navbar-main{ .mx-h(34);
	    .close-btn{ .d-n; }
	    }
	.navbar{ .f-r; .b-a-n;
		.menu{	.f-s;
			li{ .d-i-b;
				a{ .f-s-16; .c(#aaabab); .l-h(56); .d-b; .bg-w;
					&:hover{ .bg-c(#32c6f4); .c-w; }
				}
				&.active a{ .bg-c(#32c6f4); .c-w; }
			}
		}
	}
}