@import "http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic";
@import "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
.f_1{font-family:'Roboto',sans-serif}
.f_2{font-family:'Roboto Slab',serif}
body{font-family:'Roboto',sans-serif;font-size:18px;line-height:30px;background-color:#fefefe;color:#565656}
#wrapper{overflow:hidden;width:100%;position:relative}
.container{max-width:1030px}
h1,.h1,h2,.h2,h3,.h3,h4,h5{font-weight:700}
header{position:fixed;top:0;left:0;width:100%;height:76px;background-color:#fefefe;z-index:9999}
header .logo{margin-top:5px;float:left}
.navbar-toggle{border:1px solid #32c6f4;position:absolute;right:0;top:20px;margin-top:0;z-index:9999;background-color:#7bc564}
.navbar-toggle .icon-bar{background-color:#fff}
.navbar-toggle:hover{background-color:#32c6f4}
.navbar-toggle:hover .icon-bar{background-color:#fefefe}
#slider{position:relative;margin-top:76px;min-height:508px}
#slider:before{content:"";position:absolute;top:0;left:0;z-index:10;width:100%;height:373px;background-color:#e9e9e9}
#slider .container{position:relative;z-index:20}
#slider .back:before{content:"";position:absolute;top:0;z-index:10;left:-1000px;width:1217px;height:508px;background-color:#32c6f4}
#slider .back:after{content:"";position:absolute;top:0;z-index:20;border-top:508px solid #32c6f4;border-right:1125px solid transparent;width:1125px;height:508px;left:217px}
#slider .content{position:relative;z-index:40;line-height:24px;width:100%;max-width:365px}
#slider .content h1{color:#222;font-size:72px;padding-top:12px;margin-bottom:12px}
#slider .content h3{color:#fff;font-family:'Roboto Slab',serif;margin-top:0;padding-bottom:34px}
#slider .content p{color:#fff;padding-bottom:11px}
#slider .content strong{color:#222}
#slider .content span{color:#222}
#slider .content i{font-size:14px}
#slider .flexslider{top:81px;left:384px;z-index:30}
#product-info{padding-top:49px}
#product-info .left{width:100%;max-width:577px;margin-top:26px}
#product-info .left iframe{max-width:100%}
#product-info .right{width:365px;margin-bottom:70px}
#product-info .right h1{color:#222;padding-bottom:17px}
#product-info .right strong{color:#32c6f4}
#the-team{background-color:#7bc564;padding-top:33px;padding-bottom:7px}
#the-team h1{color:#fff}
#the-team .cols{margin:0 -6px;font-size:0;text-align:center;padding-bottom:69px}
#the-team .cols li{display:inline-block;width:156px;height:275px;position:relative;padding-top:105px;margin:100px 6px 30px;background-color:#fff}
#the-team .cols li .avatar{border:3px solid #fff;width:100%;max-width:156px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;overflow:hidden;top:-73px;left:0;position:absolute}
#the-team .cols li h4{color:#222}
#the-team .cols li p{font-size:14px;color:#888;line-height:18px}
#our-mission{padding-top:73px;padding-bottom:218px}
#our-mission .content{padding-left:380px;position:relative;padding-top:92px}
#our-mission .content .avatar{-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;top:74px;left:0;position:absolute}
#our-mission .content h1{color:#222}
#our-mission .content strong{color:#32c6f4}
#news{background-color:#d5d6d6;padding-top:70px;padding-bottom:90px}
#news h1{color:#222;padding-bottom:36px}
#news h4{margin-bottom:0}
#news p{line-height:24px;font-size:14px}
#news i.date{font-size:14px;color:#979797;display:block;margin-bottom:31px}
footer{line-height:24px;color:#fff;background-color:#36b4cd;padding-top:52px;padding-bottom:25px}
footer a{color:#fff}
footer a:hover{color:#222;text-decoration:none}
footer .row{position:relative}
footer .row .col-md-4{position:initial}
footer .row .col-md-4 .social{font-size:0}
footer .row .col-md-4 .social li{display:inline-block;margin:0 17px}
footer .row .col-md-4 .social li a{display:block;height:36px}
footer .row .col-md-4 .social li .fb{background:url(images/icon-fb.png) 0 0 no-repeat;width:16px}
footer .row .col-md-4 .social li .fb:hover{background:url(images/icon-fb-hover.png) 0 0 no-repeat}
footer .row .col-md-4 .social li .tw{background:url(images/icon-tw.png) 0 0 no-repeat;width:32px}
footer .row .col-md-4 .social li .tw:hover{background:url(images/icon-tw-hover.png) 0 0 no-repeat}
footer .row .col-md-4 .social li .yt{background:url(images/icon-yt.png) 0 0 no-repeat;width:42px}
footer .row .col-md-4 .social li .yt:hover{background:url(images/icon-yt-hover.png) 0 0 no-repeat}
footer .row .col-md-4 .social li .in{background:url(images/icon-in.png) 0 0 no-repeat;width:36px}
footer .row .col-md-4 .social li .in:hover{background:url(images/icon-in-hover.png) 0 0 no-repeat}
footer h2{position:relative;display:inline-block;padding-bottom:15px}
footer h2:before{content:"";width:64px;height:59px;background:url(images/arrow.png) 0 0 no-repeat;position:absolute;right:-74px;top:-10px}
footer .first:before{border-left:1px solid #62c4d8;border-right:1px solid #4ebdd3;content:"";width:2px;height:100%;left:33.33%;top:0;position:absolute}
footer .second:before{border-left:1px solid #4ebdd3;border-right:1px solid #62c4d8;content:"";height:100%;left:66.66%;top:0;position:absolute;width:2px}
footer .first{padding-top:7px}
footer .third{padding-left:100px}
footer .copyright{padding-top:60px}
@media (max-width: 1199px) {
#product-info .left{width:550px}
}
@media (max-width: 991px) {
#product-info .left{width:390px}
#product-info .right{width:310px}
#news ul li{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #222}
footer .first:before{display:none}
footer .second:before{display:none}
footer .first{border-bottom:1px solid #62c4d8;padding:10px 15px}
footer .third,footer .second{border-bottom:1px solid #62c4d8;border-top:1px solid #4ebdd3;padding:10px 15px}
footer .second{text-align:left}
footer .copyright{border-top:1px solid #4ebdd3;padding:10px 15px}
footer .menu li{display:inline-block;margin-right:25px}
}
@media (max-width: 768px) {
.navbar-toggle{display:block}
.navbar{position:absolute;top:0;right:0;margin:0;height:0;width:100%;min-height:0;padding:0;border:none}
.navbar-main{top:0;right:-70%;position:absolute;width:70%;background-color:#222;z-index:9999}
.navbar-main.active{right:0}
.navbar-main #navbar{padding:0}
.navbar-main #navbar ul li{display:block;margin:0;background: #222;}
.navbar-main #navbar ul li a{color:#fefefe;font-size:14px;text-align:left;display:block;margin:0;padding:8px 15px;background: #222;}
.navbar-main #navbar ul li a:hover{color:#38a19e;background-color:#3b3b3b}
.navbar-main #navbar .menu > li a:before{content:"";font-family:'FA';font-size:16px;display:inline-block;width:25px}
.navbar-main #navbar .menu > li:nth-child(1) > a:before{content:'\f0b1'}
.navbar-main #navbar .menu > li:nth-child(2) > a:before{content:'\f0c0'}
.navbar-main #navbar .menu > li:nth-child(3) > a:before{content:'\f135'}
.navbar-main #navbar .menu > li:nth-child(4) > a:before{content:'\f044'}
.navbar-main #navbar .menu > li:nth-child(5) > a:before{content:'\f0e0'}
.navbar-main .close-btn{text-align:center;color:#38a19e;font-size:16px;cursor:pointer;padding:8px 0;background-color:#323232;line-height:18px}
#slider{background-color:#32c6f4;padding-bottom:30px}
#slider .flexslider{position:relative;top:0;left:0;width:100%;max-width:720px;display:block;margin:0 auto;float:none;margin-top:50px}
#slider .back:before{left:-100px}
#product-info .left{width:100%;display:block;margin:0 auto;float:none}
#product-info .right{width:100%}
#our-mission .content{padding-left:0}
#our-mission .content .avatar{position:relative;top:0;left:0;display:block;margin:0 auto;float:none}
}
@media (max-width: 400px) {
footer .menu li{display:block}
}
@media (max-width: 315px) {
footer .row .col-md-4 .social li{display:block;margin-bottom:20px}
}
@media (max-width: 268px) {
#slider .content h1{font-size:25vwpx}
}
@media (min-width: 769px) {
.navbar-main{max-height:34px}
.navbar-main .close-btn{display:none}
.navbar{float:right;border:none}
.navbar .menu{font-size:0}
.navbar .menu li{display:inline-block}
.navbar .menu li a{font-size:16px;color:#aaabab;line-height:56px;display:block;background-color:#fefefe}
.navbar .menu li a:hover{background-color:#32c6f4;color:#fefefe}
.navbar .menu li.active a{background-color:#32c6f4;color:#fefefe}
}