.relative{position:relative}
.absolute{position:absolute}
.block{display:block}
.inline-block{display:inline-block}
.clear{clear:both;width:100%;line-height:0;font-size:0;height:0;overflow:hidden}
.animation,a,button,input{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.animation-all,.animation-all *{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.alignleft{float:left;margin-right:10px}
.alignright{float:right;margin-left:10px}
.aligncenter{margin:10px auto;display:block}
.hidden{display:none !important}
.fl{float: left}
.fr{float: right}
.res-img{max-width: 100%; height: auto}
.after-clear:after{content:'';display:block;clear:both;width:0;height:0;overflow:hidden}
header{-webkit-box-shadow: 4px 4px 10px 0px rgba(0, 1, 1, 0.13);
-moz-box-shadow:    4px 4px 10px 0px rgba(0, 1, 1, 0.13);
box-shadow:         4px 4px 10px 0px rgba(0, 1, 1, 0.13);}
@media (max-width: 768px){
	.navbar-main{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
}